<!DOCTYPE html>
<html lang="es">

<%-include("../partials/head", {title: "Detalle Producto", css:"productDetail.css"}) %>

<body>

    <%-include("../partials/header") %>

    <main>
        <section class="py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">inicio</a></li>
                                <li class="breadcrumb-item " aria-current="page"><%= product.category %></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8  d-flex justify-content-center align-items-center">
                        <img src="../../images/product/<%= product.image %>" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-4">
                        <div class="product-description">
                            <p class="title"><%= product.name %></p>
                            <p>Item No. <%= product.id %></p>
                            <p class="price">$ <%= product.price %></p>
                            <div class="size">
                            <ul class="size-ul">
                                <li class="size-li"><span>S</span> </li>
                                <li class="size-li"><span>M</span></li>
                                <li class="size-li"><span>L</span></li>
                                <li class="size-li"><span>XL</span></li>
                            </ul>
                        </div>




                            <a href="../products/cart" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Agregar al
                                carrito</a>
                        </div>
                        <div class="iconos my-5">
                            <p class="my-0">Compartilo vía</p>
                            <i class="fab fa-facebook me-2"></i>
                            <i class="fab fa-twitter me-2"></i>
                            <i class="fab fa-instagram"></i>

                        </div>
                        <div>
                            <form action="../delete/<%= product.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
                            </form>
                                <a href="../edit/<%= product.id %>" class="btn btn-success"><i class="fas fa-cart-plus"></i> Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-justify">
                        <p class="h4 text-center">Detalles</p>
                        <p><%= product.description %></p>
                    </div>
                    <!-- <div class="col-lg-6 text-justify">
                        <p class="h4 text-center">Especificaciones</p>
                        <ul>
                            <li> Material: 100% Algodón</li>
                            <li>Industria Argentina </li>
                        </ul>                           
                    </div> -->
                </div>
            </div>
        </section>
    </main>

    <%-include("../partials/footer") %>


</body>

</html>