<!DOCTYPE html>
<html lang="es">

<%-include("../partials/head", {title: "Detalle Producto", css:"productDetail.css"}) %>


<body>

    <%-include("../partials/header") %>

    <main>
        <section class="py-3">
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                <li class="breadcrumb-item " aria-current="page"><a href="/products/<%= product.category.name %>"><%= product.category.name %></a></li>
                                <li class="breadcrumb-item " aria-current="page"><a href="/products/<%= product.category.name %>/<%= product.sexCategory.name %>"><%= product.sexCategory.name %></a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="main-container">
        <section id="lista-productos">
            <div class="container" >
                <div class="row">
                    <div class="col-lg-8  d-flex justify-content-center align-items-center">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

                            <div class="carousel-inner">
                                <% if(product.images.length > 0){
                                    product.images.forEach((element, i) => { %>
                                    <div class="carousel-item <%= (i == 0) ? 'active' : '' %>">
                                        <img src="/images/product/<%= element.name %>" id="imageP" class="d-block w-100 image" data-name="<%= element.name %>" alt="...">
                                    </div>
                                    <% });
                                }%>

                                <% if(product.images.length == 0){ %>
                                    <div class="carousel-item active">
                                        <img src="/images/product/default-image.png" class="d-block w-100 image" alt="...">
                                    </div>
                                <% } %>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        
                    </div>

                    <div class="col-lg-4">
                        <div class="product-description">
                            <p class="title"><%= product.name %></p>
                            <p>Item No. <%= product.idProduct %></p>


                            <% if(product.discount>0){%>    
                                    
                                <p class="price-discount">$<%= product.price %> </p>
                                <p class="price">$ <span><%= product.price-(product.discount* (product.price/100)) %></span></p>
                          
                                <%} 
                                else{%>  
                                    <p class="price">$ <span><%= product.price %></span></p>
                                 
                              <%} %>

                            <p>Selecciona un talle: </p>
                            <div class="row pb-3">
                                <div class="col-lg-3">
                                    <select class="form-select form-select-sm" name="talle" id="talle">
                                        <% if(product.sizes.length> 0) { %>
                            
                                            <% product.sizes.forEach(size=> { %>
                                                <option value="<%=size.name%>">
                                                    <%=size.name%>
                                                </option>
                                                <% }) %>
                            
                                                    <% }else { %>
                            
                                                        <option>No hay talles disponibles</option>
                            
                                                        <% } %>
                                    </select>
                                </div>
                            </div>




                            <a href="" class="btn btn-primary agregar-carrito" data-id="<%=product.idProduct%>" > Agregar al  carrito</a>
                        </div>
                        <div class="iconos my-5">
                            <p class="my-0">Compartilo vía</p>
                            <i class="fab fa-facebook me-2"></i>
                            <i class="fab fa-twitter me-2"></i>
                            <i class="fab fa-instagram"></i>

                        </div>
                        <div class="btn-editar-eliminar">
                            
                                <a href="../edit/<%= product.idProduct %>" class="btn btn-success"><i class="fas fa-edit"></i> EDITAR</a>
                            <form action="../delete/<%= product.idProduct %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> ELIMINAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-justify">
                        <p class="h4 text-center">Detalles</p>
                        <p><%= product.description %></p>
                    </div>


             



                </div>
            </div>
        </section>
        </div>
    </main>

    <%-include("../partials/footer") %>
    <script src="/js/pedido.js"></script>


    

</body>

</html>