<!DOCTYPE html>
<html lang="es">
    
<%-include("../partials/head", {title: 'Productos', css:'index.css'}) %>


<body>
   

    <%-include("../partials/header") %>

    <main>
       
        <!------------Productos------------------------------>
        <section id="lomasvendidos my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class=" h3 my-5">PRODUCTOS</p>
                    </div>

                    
			<% products.forEach(product => { %>
                    <div class="col-lg-3 ">
                        <div class="product">
                            <a class="floa-end" href="#">
                                <i class="fa fa-heart ps-2"></i>
                            </a>
                            <a href="/products/detail/<%= product.id %>">
                                <img src="/images/product/<%= product.image %>" class="card-img-top" alt="...">
                            </a>
                            <a href="/products/detail/<%= product.id %>">
                                <div class="">
                                    <p class="title text-center"><%= product.name %></p>
                                    <p class="price text-center">$ <%= product.price %></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </section>
    </main>

    <%-include("../partials/footer") %>


</body>

</html>