<!DOCTYPE html>
<html lang="es">
    
<%-include("../partials/head", {title: 'Productos', css:'index.css'}) %>


<body>
   

    <%-include("../partials/header") %>

    <main>
       
        <!------------Productos------------------------------>
        <section id="lomasvendidos my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 my-3">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">inicio</a></li>
                                <li class="breadcrumb-item " aria-current="page"><a href="/products/">Productos</a></li>
                                <% if(locals.category){ %>
                                <li class="breadcrumb-item " aria-current="page"><a href="/products/<%=category%>"><%=category%></a></li>
                                <% } %>
                                <% if(locals.categorySex){ %>
                                    <li class="breadcrumb-item " aria-current="page"><a href="/products/<%=category+"/"+categorySex%>"><%=categorySex%></a></li>
                                    <% } %>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container filter">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                           
                            <p class="h5">Tipos de Productos</p>
                            <a href="/products/"><i class="<%= !locals.category ? 'fas fa-square' : 'far fa-square' %>"> </i> Todos</a>
                            <a href="/products/Remera"><i class="<%= locals.category && category=="Remera" ? 'fas fa-square' : 'far fa-square' %>"> </i> Remeras</a>
                            <a href="/products/Musculosa"><i class="<%= locals.category && category=="Musculosa" ? 'fas fa-square' : 'far fa-square' %>"> </i> Musculosas</a>
                            <a href="/products/Pantalon"><i class="<%= locals.category && category=="Pantalon" ? 'fas fa-square' : 'far fa-square' %>"> </i> Pantalones</a>
                            <a href="/products/Campera"><i class="<%= locals.category && category=="Campera" ? 'fas fa-square' : 'far fa-square' %>"> </i> Camperas</a>
                            <a href="/products/Short"><i class="<%= locals.category && category=="Short" ? 'fas fa-square' : 'far fa-square' %>"> </i> Shorts</a>
                            <a href="/products/Buzo"><i class="<%= locals.category && category=="Buzo" ? 'fas fa-square' : 'far fa-square' %>"> </i> Buzos</a>
                            <a href="/products/Calza"><i class="<%= locals.category && category=="Calza" ? 'fas fa-square' : 'far fa-square' %>"> </i> Calzas</a>
                            <a href="/products/Malla"><i class="<%= locals.category && category=="Malla" ? 'fas fa-square' : 'far fa-square' %>"> </i> Mallas</a>
                          
                             
                        </div>
                        <div class="row">
                            <% if(locals.category){ %>
                            <p class="h5">Género</p>
                            <a href="/products/<%=category%>"><i class="<%= !locals.categorySex  ? 'fas fa-square' : 'far fa-square' %>"> </i> Todos</a>
                            <a href="/products/<%=category%>/Hombre"><i class="<%= locals.categorySex && categorySex=="Hombre" ? 'fas fa-square' : 'far fa-square' %>"> </i> Hombre</a>
                            <a href="/products/<%=category%>/Mujer"><i class="<%= locals.categorySex && categorySex=="Mujer" ? 'fas fa-square' : 'far fa-square' %>"> </i> Mujer</a>
                            <a href="/products/<%=category%>/Unisex"><i class="<%= locals.categorySex && categorySex=="Unisex" ? 'fas fa-square' : 'far fa-square' %>"> </i> Unisex</a>
                            
                           <% } %>
                             
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="text-center small fw-bold">  <%= products.length %> Resultados</p>
                            </div>
                            <% products.forEach(product => { %>
                                <div class="col-lg-4 ">
                                    <div class="product">
                                        <a class="floa-end" href="#">
                                            <i class="fa fa-heart ps-2"></i>
                                        </a>
                                        <a href="/products/detail/<%= product.id %>">
                                            <img src="/images/product/<%= product.image %>" class="card-img-top" alt="...">
                                        </a>
                                        <% if(product.discount>0){%>
                                            <div class="discount">
                                                <p><%= product.discount %>%</p>
                                            </div>
                                     <%} %>
                                        <a href="/products/detail/<%= product.id %>">
                                            <div class="">
                                                <p class="title text-center"><%= product.name %></p>
                                                <% if(product.discount>0){%>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <p class="price text-center">$ <%= product.price-(product.discount* (product.price/100)) %></p>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <p class="price-discount text-center">$ <%= product.price %></p>
                                                        </div>
                                                    </div>

                                                    <%} 
                                                    else{%>  
                                                        <p class="price text-center">$ <%= product.price %></p>
                                                     
                                                        <%} %>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>

         
        </section>
    </main>

    <%-include("../partials/footer") %>


</body>

</html>