<!DOCTYPE html>
<html lang="es">

<%-include("../partials/head" , { css: 'createProduct.css' , title: 'Create Product' })%>

    <body>

        <div class="banner-login">
            <div class="container-imagen">
                <img src="/images/logo.png" class="imagen" alt="" />
                <h1 class="text-white">Foxter</h1>
              
            </div>
            <div class="float-end pe-3">
        
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link " aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/products">Todos los Productos</a>
                    </li>
                    
                  </ul>
    
            </div>
        </div>

        <main>
            <div class="container">
                <form class="formularioProducto" action="/products/" method="POST" enctype="multipart/form-data">
                    <div class="formularioProducto__title">
                        <h3 class="title">Crear producto</h3>
                    </div>
                    <div class="">
                        <div class="row pb-3">
                            <div class=" form-group  col-lg-6">
                                <label for="nombre">Nombre del producto</label>
                                <input type="text" name="name" id="nombre" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : 'is-valid' %>" value="<%=locals.oldData && oldData.name? oldData.name:null%>">
                                <% if(locals.errors && errors.name){%>
                                    <div class="small text-danger">
                                       <%= errors.name.msg %>
                                       </div>
                            
                                 <%  } %>
                            
                            </div>
                            <div class=" form-group  col-lg-6">
                                <label for="imagen">Agregar imagen</label>
                                <input type="file" name="image" id="imagen" class="form-control">
                            </div>
                           
                        
                        </div>
                        <div class="row pb-3">
                            <div class=" form-group  col-lg-6">
                                <label for="precio">Precio</label>
                                <input type="number" name="price" id="precio" min="0" class="form-control" value="<%=locals.oldData && oldData.price? oldData.price:null%>">
                            </div>
                            <div class=" form-group  col-lg-6">
                                <label for="descuento">Descuento</label>
                                <input type="number" name="discount" id="descuento" min="0" class="form-control">
                            </div>

                        </div>
                        <div class="row pb-3">
                            <div class=" form-group  col-lg-6">
                                <label for="talle">Talles</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="S" name="size[]">
                                    <label class="form-check-label" for="inlineCheckbox1">S</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="M" name="size[]">
                                    <label class="form-check-label" for="inlineCheckbox2">M</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="L" name="size[]" >
                                    <label class="form-check-label" for="inlineCheckbox3">L</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="XL"  name="size[]" >
                                    <label class="form-check-label" for="inlineCheckbox4">XL</label>
                                  </div>
                              
                            </div>
                           
                        </div>
                        <div class="row pb-3">
                            <div class=" form-group  col-lg-4">
                                <label for="category">Categoria</label>
                                <select name="category" id="category" class="form-control">
                                    <option value="Remera">Remera</option>
                                    <option value="Musculosa">Musculosa</option>
                                    <option value="Pantalon">Pantalon</option>
                                    <option value="Campera">Campera</option>
                                    <option value="Short">Short</option>
                                    <option value="Buzo">Buzo</option>
                                    <option value="Calza">Calza</option>
                                </select>
                            </div>

                            <div class=" form-group col-lg-4">
                                <label for="sexCategory">Genero </label>
                                <select name="sexCategory" id="sexCategory" class="form-control">
                                    <option value="hombre">Hombre</option>
                                    <option value="Mujer">Mujer</option>
                                    <option value="Unisex">Unisex</option>
                                </select>
                            </div>
                            <div class=" form-group  col-lg-4">
                                <label for="saleCategory">Característica de Venta</label>
                                <select name="saleCategory" id="saleCategory" class="form-control">
                                    <option value="Ninguna">Ninguna</option>
                                    <option value="tendencia">Tendencia</option>
                                    <option value="oferta">Oferta</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="row pb-3">
                            <div class="form-group  col-lg-12">
                                <label for="description">Descipción</label>
                                <textarea name="description" id="descripcion" rows="4" class="form-control"></textarea>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group  col-lg-6">
                                <button class="guardar" type="submit">Guardar</button>
                            </div>
                            
                        </div>
                    </div>
                </form>

            </div>

        </main>
    </body>

</html>