<!DOCTYPE html>
<html lang="es">

<%-include("../partials/head" ,  { css: 'editProduct.css', title: 'Editar producto' })%>

<body>
   
    <div class="banner-login">
        <div class="container-imagen">
            <img src="/images/logo.png" class="imagen" alt="" />
            <h1 class="text-white">Foxter</h1>
          </div>
    </div>
 
    <main>
    <form class="formularioProducto" action="#" method="post">
        <div class="formularioProducto__title">
            <h3 class="title">Editar producto</h3>
        </div>
        <div class="formularioProducto__contenedor">
            <div class="FormularioProducto__control">
                <label for="nombre">Nombre del producto</label>
                <input type="text" name="nombre" id="nombre" class="formularioProducto__input" value="<%=product.name%>">
            </div>
            <div class="FormularioProducto__control">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" min="0" class="formularioProducto__input" value="<%=product.price%>">
            </div>
            
            <div class="FormularioProducto__control">
                <div class="formularioProducto__input">
                <label for="categoria">Categoria</label>
                
                 <select name="categoria" id="categoria">
                    <option value="Remera">Remera</option>
                    <option value="Musculosa">Musculosa</option>
                    <option value="Pantalon">Pantalon</option>
                    <option value="Campera">Campera</option>
                    <option value="Short">Short</option>
                    <option value="Buzo">Buzo</option>
                    <option value="Calza">Calza</option>Calza
                 </select>
                </div>
            </div>

            <div class="FormularioProducto__control">
                <div class="formularioProducto__input">
                <label for="talle">Talle</label>
                
                 <select name="talle" id="talle">
                     <option  value="S" <%= product.size == "S" ? "selected" : "" %>>S</option>
                     <option value="M" <%= product.size == "M" ? "selected" : "" %>>M</option>
                     <option value="L" <%= product.size == "L" ? "selected" : "" %>>L</option>
                     <option value="XL" <%= product.size == "XL" ? "selected" : "" %>>XL</option>

                 </select>
                </div>
            </div>


        <!-- editar archivos -->

            <!-- <div class="FormularioProducto__control">
                <label for="imagen">Editar imagen</label>
                <input type="file"name="imagen" id="imagen" class="formularioProducto__input">
            </div> -->
            <div class="FormularioProducto__control">
                <div class="formularioProducto__textarea">
                <label for="categoria">Genero </label>
                <select name="sexCategory" id="categoria" class="form-control">
                    <option value="hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Unisex">Unisex</option>
                </select>
            </div>
            </div>

            <div class="FormularioProducto__control">
                <div class="formularioProducto__textarea">
                <label for="talle">Característica de Venta</label>
                <select name="saleCategory" id="saleCategory" class="form-control">
                    <option value="Ninguna">Ninguna</option>
                    <option value="tendencia">Tendencia</option>
                    <option value="oferta">Oferta</option>
                </select>
            </div>
            </div>
            
        </div>
        <!-- <div class="row pb-3">
            <div class="form-group  col-lg-12">
                <label for="description">Descipción</label>
                <textarea name="description" id="descripcion" rows="4" class="form-control"></textarea>
            </div>
        </div> -->

           
                    <div class="form-group  col-lg-12">
                    <label class="label-description" for="descripcion">Descipción</label>
					<textarea name="descripcion" id="descripcion" class="textarea"  rows="4"><%= product.description %></textarea>

                </div>
               
         

            <div class="FormularioProducto__control">
                <div class="boton-control" >
                <button class="guardar" type="submit">Guardar</button>
                <button class="cancelar" type="submit">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>