<!DOCTYPE html>
<html lang="es">

<%-include("../partials/head" ,  { css: 'editProduct.css', title: 'Editar producto' })%>

<body>
   
    <div class="banner-login">
        <div class="container-imagen">
            <img src="/images/logo.png" class="imagen" alt="" />
            <h1 class="text-white">Foxter</h1>
          </div>
    </div>
 
    <main>
    <form action="/products/edit/<%= productToEdit.id %>?_method=PUT"  method="POST"  class="formularioProducto" >
        <div class="formularioProducto__title">
            <h3 class="title">Editar producto</h3>
        </div>
        <div class="formularioProducto__contenedor">
            <div class="FormularioProducto__control">
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" class="formularioProducto__input" value="<%=productToEdit.name%>">
            </div>
            <div class="FormularioProducto__control">
                <label for="price">Precio</label>
                <input type="number" name="price" id="price" min="0" class="formularioProducto__input" value="<%=productToEdit.price%>">
            </div>
            
            <div class="FormularioProducto__control">
                <div class="formularioProducto__input">
                <label for="category">Categoria</label>
                
                 <select name="category" id="category" >
                    <option value="Remera" <%= productToEdit.category == "Remera" ? "selected" : "" %>      >Remera</option>
                    <option value="Musculosa" <%= productToEdit.category == "Musculosa" ? "selected" : "" %>   >Musculosa</option>
                    <option value="Pantalon" <%= productToEdit.category == "Pantalon" ? "selected" : "" %> >Pantalon</option>
                    <option value="Campera" <%= productToEdit.category == "Campera" ? "selected" : "" %>  >Campera</option>
                    <option value="Short" <%= productToEdit.category == "Short" ? "selected" : "" %>  >Short</option>
                    <option value="Buzo" <%= productToEdit.category == "Buzo" ? "selected" : "" %>  >Buzo</option>
                    <option value="Calza" <%= productToEdit.category == "Calza" ? "selected" : "" %>  >Calza</option>
                 </select>
                </div>
            </div>

            <div class="FormularioProducto__control">
                <div class="formularioProducto__input">
                <label for="size">Talle</label>
                
                 <select name="size" id="talle">
                     <option value="S" <%= productToEdit.size == "S" ? "selected" : "" %>>S</option>
                     <option value="M" <%= productToEdit.size == "M" ? "selected" : "" %>>M</option>
                     <option value="L" <%= productToEdit.size == "L" ? "selected" : "" %>>L</option>
                     <option value="XL" <%= productToEdit.size == "XL" ? "selected" : "" %>>XL</option>

                 </select>
                </div>
            </div>




            
            

            <div class="FormularioProducto__control">
                <div class="formularioProducto__textarea">
                <label for="sexCategory">Genero </label>
                <select name="sexCategory" id="sexCategoria" class="form-control">
                    <option value="Hombre" <%= productToEdit.sexCategory == "Hombre" ? "selected" : "" %>>Hombre</option>
                    <option value="Mujer" <%= productToEdit.sexCategory == "Mujer" ? "selected" : "" %>>Mujer</option>
                    <option value="Unisex" <%= productToEdit.sexCategory == "Unisex" ? "selected" : "" %>>Unisex</option>
                </select>
            </div>
            </div>

            <div class="FormularioProducto__control">
                <div class="formularioProducto__textarea">
                <label for="saleCategory">Característica de Venta</label>
                <select name="saleCategory" id="saleCategory" class="form-control">
                    <option value="ninguna" <%= productToEdit.saleCategory == "ninguna" ? "selected" : "" %>   >Ninguna</option>
                    <option value="tendencia" <%= productToEdit.saleCategory == "tendencia" ? "selected" : "" %> >Tendencia</option>
                    <option value="oferta" <%= productToEdit.saleCategory == "oferta" ? "selected" : "" %> >Oferta</option>
                </select>
            </div>
            </div>
            
        </div>
        
        <div class="title-img">
            <label for="imagen">Editar imagen</label>
        </div>
        
        <div class="FormularioProducto__control-file">
            <input type="file" name="files[]" id="files" class="formularioProducto__input-file">
            <!-- <img src="/images/product/<%=productToEdit.image %>"  alt="imagen" width="150px"> -->
            <output id="list" ></output>
        </div>
                    <div class="form-group  col-lg-12">
                    <label class="label-description" for="description">Descipción</label>
					<textarea name="description" id="description" class="textarea"  rows="4"><%= productToEdit.description %></textarea>

                </div>
               
            <div class="FormularioProducto__control">
                <div class="boton-control" >
                <button  type="submit"  class="guardar">Guardar</button>
                <a href="/products/detail/ <%=productToEdit.id %>">
                <button type="submit" class="cancelar">Cancelar</button>
                </a>    
            </div>
            </div>
        </div>
    </form>
    

    <script>
        function archivo(evt) {
            let files = evt.target.files; // FileList object
       
            // Obtenemos la imagen del campo "file".
            for (let i = 0, f; f = files[i]; i++) {
              //Solo admitimos imágenes.
              if (!f.type.match('image.*')) {
                  continue;
              }
       
              let reader = new FileReader();
       
              reader.onload = (function(theFile) {
                  return function(e) {
                    // Insertamos la imagen
                   document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
                  };
              })(f);
       
              reader.readAsDataURL(f);
            }
        }
       
        document.getElementById('files').addEventListener('change', archivo, false);
</script>



</main>
</body>
</html>