<!DOCTYPE html>
<html lang="es">

<%-include("./partials/head", {title: 'Inicio' , css:'index.css'}) %>


    <body>


        <%-include("./partials/header") %>

            <main>
                <section>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/portada_1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/portada_2.jpg" class="d-block w-100" alt="...">
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </section>
                <section id="ofertas">
                    <div class="container">
                        <div class="row my-3">
                            <% minimos.forEach((category)=>{ %>
                            <div class="col-lg-3 mb-3 text-center ">
                                <div class="bg-dark  p-3 ofert">
                                    <a href="/products/<%=category.category.name%>">
                                    <p class="h4 text-white"><%=category.category.name%> </p>
                                    <p class="text-white pric">desde $ <%=category.price%></p>
                                    </a>
                                </div>
                            </div>
                            <% })%>
                           
                        </div>
                    </div>
                </section>
                <!------------Lomasvendido------------------------------>
                <section id="lomasvendidos my-5">
                    <div class="container tendencias">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class=" h3 my-5">Tendencias</p>
                            </div>
                            <%products.forEach((listaProducto)=>{ %>
                                <%if(listaProducto.saleCategory.name == "Tendencia"){ %>
                                    <div class="col-lg-3 ">
                                        <div class="product">
                                            <a class="floa-end" href="#">
                                                <i class="fa fa-heart ps-2"></i>
                                            </a>
                                            <a href="products/detail/<%= listaProducto.idProduct %>">
                                                <%if(listaProducto.images.length>0){%>
                                                    <img src="/images/product/<%= listaProducto.images[0].name %>" class="card-img-top" alt="<%= listaProducto.name %>">
                                                    <%} else{ %>
                                                    <img src="/images/product/default-image.png" class="card-img-top" alt="imagen por defecto">
        
                                                        <%} %>
                                            </a>
                                            <a href="products/detail/<%= listaProducto.idProduct %>">
                                                <div class="">
                                                    <p class="title text-center"><%= listaProducto.name %></p>
                                                    <p class="price text-center">$ <%= listaProducto.price %></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <%} %>
                            <% }) %>

                                       
                        </div>
                    </div>
                </section>

                <!------------Lomasvendido------------------------------>
                <section id="lomasvendidos my-5">
                    <div class="container ofertas">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class=" h3 my-5">Ofertas</p>
                            </div>
                            <%products.forEach((listaProducto)=>{ %>
                                <%if(listaProducto.saleCategory.name == "Oferta"){ %>
                                    <div class="col-lg-3 pb-3">
                                        <div class="product">
                                            <a class="floa-end" href="#">
                                                <i class="fa fa-heart ps-2"></i>
                                            </a>
                                            <a href="products/detail/<%= listaProducto.idProduct %>">
                                                <%if(listaProducto.images.length>0){%>
                                                    <img src="/images/product/<%= listaProducto.images[0].name %>" class="card-img-top" alt="<%= listaProducto.name %>">
                                                    <%} else{ %>
                                                    <img src="/images/product/default-image.png" class="card-img-top" alt="imagen por defecto">
        
                                                        <%} %>
                                            </a>
                                            <% if(listaProducto.discount>0){%>
                                                   <div class="discount">
                                                <p><%= listaProducto.discount %>%</p>
                                                   </div>
                                            <%} %>
                                            <a href="products/detail/<%= listaProducto.idProduct %>">
                                                <div class="">
                                                    <p class="title text-center"><%= listaProducto.name %></p>
                                                    <% if(listaProducto.discount>0){%>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <p class="price text-center">$ <%= listaProducto.price-(listaProducto.discount* (listaProducto.price/100)) %></p>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <p class="price-discount text-center">$ <%= listaProducto.price %></p>
                                                        </div>
                                                    </div>

                                                    <%} 
                                                    else{%>  
                                                        <p class="price text-center">$ <%= listaProducto.price %></p>
                                                     
                                                        <%} %>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <%} %>
                            <% }) %>
                        
                        </div>
                    </div>
                </section>
            </main>

            <%-include("./partials/footer") %>
             <script src="/js/pedido.js"></script>



    </body>

</html>